@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shadow01: 2px 2px 2px rgba(0, 0, 0, 0.199);
  --blue01: rgb(12, 40, 73);
}

body {
  background-color: rgb(16, 23, 31);
  color: white;
  font-family: monospace;
  font-size: 1.1em;
}

header {
  background-color: black;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin: 0 0 20px 0;
  z-index: 1;
}

h1 {
  font-family: bebas Neue, monospace;
  letter-spacing: 0.1em;
  margin: 10px 20px;
  cursor: pointer;
  user-select: none;
  font-size: 1.5em;
}

form {
  display: flex;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes show {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  99% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    z-index: 0;
  }
}
.hide {
  margin: -20px auto 20px auto;
  display: none;
  position: relative;
  z-index: -1;
}

.show {
  animation-name: show;
  animation-duration: 0.5s;
  transform: translateY(0);
  display: flex;
  z-index: 0;
  position: relative;
  justify-self: center;
}

.spanForm {
  margin: 0 12px;
  user-select: none;
}

input {
  margin: 2px 10px 5px 10px;
  padding: 7px 10px;
  outline: none;
  color: white;
  background-color: transparent;
  background-color: var(--blue01);
  border: none;
  border-bottom: 2px solid var(--blue01);
  box-shadow: var(--shadow01);
  width: 300px;
}

.divForm {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px 10px;
  max-width: 100px;
  padding: 0 10px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  user-select: none;
  color: white;
  background-color: crimson;
  box-shadow: var(--shadow01);
}

form button {
  transform: translateY(5px);
}

button:active {
  transform: scale(0.95);
}
form button:active {
  transform: scale(0.95) translateY(5px);
}

.containerPalavras {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: start;
}

.divLista {
  background-color: black;
  margin: 0 5px 20px 5px;
  border-radius: 7px;
  padding: 20px;
  width: 300px;
  flex-grow: 1;
}

p {
  padding: 0 10px;
  margin-bottom: 5px;
}
.divPalavras {
  border-left: 3px solid var(--blue01);
  padding: 2px 0;
}

.quantidadePalavras {
  background-color: var(--blue01);
  border-radius: 4px;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.divBotoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-between;
}

.divCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.divCheckbox input {
  position: absolute;
  /*   opacity: 0; */
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.spanCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

i {
  font-size: 1.4em;
}

.estudados {
  opacity: 0.4;
}
.contador {
  background-color: white;
  color: black;
  padding: 10px;
  width: 100px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

