@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black01: #000000;
  --white01: #e6e6e6;
  --blue01: #0f2b4b;
  --red01: #660011;
  --yellow01: #ffc82d;
  --azul02: #1c1f27;
  --shadow01: 5px 5px 5px rgba(0 0 0 / 20%);
  --font: "Oswald", cursive;
}

body {
  background-color: var(--black01);
  background: linear-gradient(90deg, #181818 40.1%, #0e0e0e 100%);
}

/* INITIALSCREEN */

.body-initial-screem {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img {
  user-select: none;
}

.backgroundimg-initialpage {
  max-height: 400px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.div-new-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 20px;
  width: 88vw;
}

.div-new-list div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divborder50 {
  background-color: var(--white01);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: inline-block;
}

.div-new-list button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font);

  font-size: 1.2rem;
  font-weight: normal;
  color: var(--white01);
  cursor: pointer;
  margin: 0 20px;
}

.lists-initialscreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0;
  width: 100%;
  justify-content: center;
}

.fake-components {
  display: flex;
  flex-direction: row;
  width: 313px;
  height: 542px;
  background-color: var(--blue01);
  box-shadow: var(--shadow01);
  padding: 0px 30px 40px 30px;
  border-radius: 5px;
  margin: 15px 15px;
  cursor: pointer;
}

.my-list-component {
  display: flex;
  flex-direction: column;
  width: 313px;
  height: 542px;
  background-color: var(--blue01);
  box-shadow: var(--shadow01);
  border-radius: 5px;
  color: var(--white01);
  margin: 15px 15px;
  padding: 40px 30px;
  cursor: pointer;
  overflow: hidden;
}

.my-list-component h2 {
  pointer-events: none;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font);
  text-transform: uppercase;
}

.my-list-component p {
  pointer-events: none;
  margin: 50px 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  white-space: pre-line;
  text-align: justify;
  opacity: 0.9;
  line-height: 20px;
  word-wrap: break-word;
}

.form-new-list {
  display: none;
  flex-direction: column;
  width: fit-content;
  width: 313px;
  height: 542px;
  background-color: var(--blue01);
  box-shadow: var(--shadow01);
  padding: 0px 30px 40px 30px;
  border-radius: 5px;
  margin: 15px 15px;
}

.form-new-list .div-span-input {
  display: flex;
  flex-direction: column;
}

.form-new-list .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  transform: translateY(-50px);
  margin: 0 -30px 0 -30px;
}

.form-new-list .buttons button {
  background-color: var(--blue01);
  box-shadow: var(--shadow01);
  color: var(--white01);
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
}

.form-new-list input {
  z-index: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1px 5px;
  color: var(--white01);
  margin-bottom: 50px;
  height: 50px;
  transform: translate(0, -40px);
  font-size: 2rem;
  font-family: var(--font);
  text-align: center;
}

.form-new-list textarea {
  background-color: transparent;
  border-radius: 5px;
  min-height: 200px;
  border: 1px solid var(--white01);
  color: white;
  padding: 10px;
  outline: none;
  resize: none;
  transform: translate(0, -67px);
}

.form-new-list .span-input {
  pointer-events: none;
  color: var(--white01);
  user-select: none;
  z-index: 0;
  transform: translate(0, 0px);
  font-family: var(--font);
  font-size: 2rem;
  text-align: center;
  pointer-events: none;
}

.form-new-list .span-textarea {
  pointer-events: none;

  color: var(--white01);
  user-select: none;
  z-index: 0;
  transform: translate(15px, -30px);
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* WORDLIST */

.word-list {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  margin: 50px;
  color: white;
}

.img-background-wordlist {
  max-height: 400px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.word-list-header {
  width: 85vw;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.word-list-header {
  align-items: center;
}

.wordlist-title-words {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wordlist-title-words h1 {
  font-family: var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2em;
}

.wordlist-title-words h2 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.8;
}

.word-list-header img {
  transform: translateY(5px);
  justify-self: end;
}

.word-list-header .menus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: start;
}

.menus .home {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 5px 10px;
}

.menus .configs {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 5px 10px;
}

.menus .button {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--font);
  font-size: 1rem;
  margin: 5px 10px;
}

.forms-add-word {
  display: none;
}

/* WORDSCONTAINER */

.words-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.individual-words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-words {
  background-color: var(--blue01);
  overflow: hidden;
  height: 380px;
  width: 310px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 0px;
  cursor: pointer;
}

.header-container-words {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  justify-content: center;
  font-family: var(--font);
  font-weight: lighter;
  margin-bottom: -10px;
  opacity: 0.9;
  pointer-events: none;
}
.header-container-words > :nth-child(1) {
  justify-self: start;
}
.header-container-words > :nth-child(2) {
  justify-self: center;
}

.header-container-words > :nth-child(3) {
  justify-self: end;
}

.header-container-words > :nth-child(3) > :nth-child(1) {
  justify-self: end;
  color: var(--white01);
  border: none;
  background: transparent;
}

.words-map-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin: 13px 10px;
  pointer-events: none;
  height: 35px;
  overflow: hidden;
  border-radius: 5px;
}

.words-map-para {
  background-color: rgba(0, 0, 0, 0.205);
  box-shadow: 2px 2px 2px rgba(0 0 0 / 10%);
  padding: 5px 10px;
  border-radius: 5px;
  justify-content: center;
  font-family: var(--font);
  font-weight: lighter;
  align-items: center;
  line-height: 25px;
  text-transform: capitalize;
}

.forms-add-word {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto;
}

.several h2 {
  font-family: var(--font);
  font-weight: lighter;
  font-size: 1.2rem;
}

.several textarea {
  resize: none;
  outline: none;
  margin: 10px 0;
  width: 500px;
  height: 300px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid var(--blue01);
  color: white;
}


/* CONFIGS */

.configs-container {
  display: grid;
  height: 90vh;
  margin: 30px auto;
  width: fit-content;
  position: relative;
  grid-template-rows: auto 2fr auto;
}

.header-menus {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-menus a {
  font-family: var(--font);
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
}

.configs {
  margin: 20px 10px;
  color: white;
  font: var(--font);
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.config-single h2 {
  font-family: var(--font);
  font-weight: lighter;
  font-size: 1.2rem;
}

.config-single input {
  background-color: var(--white01);
  outline: none;
  border: none;
  padding: 10px;
  width: 300px;
  text-align: center;
  color: var(--black01);
  border-radius: 5px;
  font-family: var(--font);
  font-size: 1.2rem;
}

.config-single textarea {
  font-family: var(--font);
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: lighter;
  border: none;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: var(--white01);
  color: var(--black01);
  outline: none;
  resize: none;
}

.delete-list {
  display: none;
}

.configs-container .buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
}

.configs-container .buttons button {
  font-family: var(--font);
  font-weight: normal;
  font-size: 1.2rem;
  background-color: var(--white01);
  outline: none;
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.configs-container .buttons > :nth-child(2) {
  background-color: var(--red01);
  color: var(--white01);
}
