@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

/* Adicionar SASS o quanto Antes!!! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black01: #000000;
  --white01: #e6e6e6;
  --blue01: #112f52;
  --red01: #7c1212;
  --yellow01: #ffc82d;
  --azul02: #0c225e;
  --shadow01: 5px 5px 5px rgba(0 0 0 / 20%);
  --font: "Oswald", cursive;
  --backgroundContainer: rgb(24, 24, 24);
}

body {
  background: rgb(15, 15, 15);
}

/* INITIALSCREEN */

.body-initial-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100vh;
  background: rgb(15, 15, 15);
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 1) 0%,
    rgb(17, 17, 17) 100%
  );
  background-size: contain;
  background-repeat: repeat;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 20px;
  width: 88vw;
  transform: translateY(-100px);
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font);

  font-size: 1.2rem;
  font-weight: normal;
  color: var(--white01);
  cursor: pointer;
  margin: 0 20px;
}

.listas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateX(-120vw);
}

.lists-initialscreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0;
  width: 100%;
  justify-content: center;
}

.lists-initialscreen .opening {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 30vh;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.opening .title {
  color: var(--white01);
  font-family: var(--font);
  font-weight: normal;
  width: fit-content;
  font-size: 2.5rem;
  margin-bottom: 50px;
  opacity: 0;
}

.opening button {
  background-color: var(--blue01);
  border: none;
  transition: 0.3;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: var(--white01);
  cursor: pointer;
}

.opening button:active {
  transform: scale(0.95);
}

.opening .img {
  user-select: none;
  width: 500px;
  height: auto;
  opacity: 0;
}

.fake-components {
  display: flex;
  flex-direction: row;
  width: 313px;
  height: 542px;
  background-color: var(--blue01);
  box-shadow: var(--shadow01);
  padding: 0px 30px 40px 30px;
  border-radius: 5px;
  margin: 15px 15px;
  cursor: pointer;
}

.my-list-component {
  display: flex;
  flex-direction: column;
  width: 313px;
  height: 542px;
  background-color: var(--blue01);
  box-shadow: var(--shadow01);
  border-radius: 5px;
  color: var(--white01);
  margin: 15px 15px;
  padding: 40px 30px;
  cursor: pointer;
  overflow: hidden;
}

.my-list-component h2 {
  pointer-events: none;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font);
  text-transform: uppercase;
}

.my-list-component p {
  pointer-events: none;
  margin: 50px 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  white-space: pre-line;
  text-align: justify;
  opacity: 0.9;
  line-height: 20px;
  word-wrap: break-word;
}

.form-new-list {
  background-color: var(--blue01);
  display: none;
  padding: 30px;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: var(--shadow01);
  width: 313px;
  height: 542px;
}

.form-new-list .div-span-input {
  display: flex;
  flex-direction: column;
}

.form-new-list .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  width: 100%;
}

.form-new-list .buttons button {
  background-color: var(--white01);
  box-shadow: var(--shadow01);
  color: var(--black01);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
}

.form-new-list input {
  z-index: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1px 5px;
  color: var(--white01);
  margin-bottom: 50px;
  font-size: 2rem;
  font-family: var(--font);
  text-align: center;
}

.form-new-list textarea {
  background-color: transparent;
  border-radius: 5px;
  min-height: 200px;
  width: 100%;
  color: white;
  padding: 10px;
  outline: none;
  resize: none;
  margin-bottom: 50px;
  border: none;
}

.form-new-list .span-input {
  pointer-events: none;
  color: var(--white01);
  user-select: none;
  z-index: 0;
  font-family: var(--font);
  font-size: 2rem;
  text-align: center;
  pointer-events: none;
  transform: translateY(50px);
}

.form-new-list .span-textarea {
  pointer-events: none;
  color: var(--white01);
  user-select: none;
  z-index: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 10px;
  transform: translateY(50px);

}

/* WORDLIST */

.buttonsFixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 220px;
  left: -90px;
  background-color: var(--blue01);
  box-shadow: var(--shadow01);
  justify-content: center;
  width: fit-content;
  border-radius: 0 5px 5px 0;
  transition: 0.3s;
}

.buttonsFixed:hover {
  left: 0;
}

.buttonsFixed a {
  text-decoration: none;
  background-color: transparent;
  font-family: var(--font);
  color: var(--white01);
  font-size: 1.2rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 30px 5px 10px;
  cursor: pointer;
  width: fit-content;
}

.word-list {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  color: white;
}

.word-list-header {
  margin: 20px;
  width: 85vw;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.word-list-header {
  align-items: center;
}

.wordlist-title-words {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wordlist-title-words h1 {
  font-family: var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2em;
}

.wordlist-title-words h2 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.8;
}

.word-list-header img {
  transform: translateY(5px);
  justify-self: end;
}

.word-list-header .menus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: start;
}

.menus .home {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 5px 10px;
}

.menus .configs {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 5px 10px;
}

.menus button {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--font);
  font-size: 1.2rem;
  margin: 5px 10px;
  cursor: pointer;
}

/* WORDSCONTAINER */

.words-body {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}

.words-body div h2 {
  color: var(--white01);
  position: absolute;
  transform: translateY(-80px);
  background-color: var(--blue01);
  color: var(--white01);
  box-shadow: var(--shadow01);
  padding: 5px 20px;
  border-radius: 5px;
}

#learning,
#learned,
#onHold {
  transform: translateY(-120px);
}

.learning,
.learned,
.onHold {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, auto));
  justify-items: center;
  background-color: var(--backgroundContainer);
  box-shadow: var(--shadow01);
  margin-bottom: 100px;
  padding: 50px 0;
  justify-content: center;
}

.individual-words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.words-body .container-words {
  background-color: var(--blue01);
  overflow: hidden;
  height: 380px;
  width: 310px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 0px;
  cursor: pointer;
}

.header-container-words {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: var(--font);
  font-weight: lighter;
  margin-bottom: -10px;
  opacity: 0.9;
  pointer-events: none;
}

.header-container-words > :nth-child(3) > :nth-child(1) {
  justify-self: end;
  color: var(--white01);
  border: none;
  background: transparent;
}

.words-map-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin: 13px 10px;
  pointer-events: none;
  height: 35px;
  overflow: hidden;
  border-radius: 5px;
}

.words-map-para {
  background-color: rgba(0, 0, 0, 0.205);
  box-shadow: 2px 2px 2px rgba(0 0 0 / 10%);
  padding: 5px 10px;
  border-radius: 5px;
  justify-content: center;
  font-family: var(--font);
  font-weight: lighter;
  align-items: center;
  line-height: 25px;
  text-transform: capitalize;
}

.forms-add-word {
  display: grid;
  position: absolute;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  background-color: var(--white01);
  padding: 50px 50px;
  border-top: 5px solid var(--blue01);
  border-bottom: 5px solid var(--blue01);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
  transform: translate(-120vw, 180px);
  z-index: 1;
  justify-items: center;
  align-items: center;
}

@media (max-width: 600px) {
  .forms-add-word {
    display: flex;
    flex-direction: column;
  }
}

.forms-add-word > h2 {
  position: absolute;
  top: -40px;
  background-color: var(--blue01);
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: var(--shadow01);
}

.several h2 {
  color: black;
  font-family: var(--font);
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.several p {
  color: black;
  font-family: monospace;
  opacity: 0.8;
}

.several .error {
  color: var(--red01);
  font-weight: bold;
  margin: 5px 0;
}

.several textarea {
  resize: none;
  outline: none;
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
  height: 300px;
  padding: 10px;
  background-color: var(--blue01);
  border: none;
  color: white;
  border-radius: 5px;
}

.single {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

.several .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
}

.several .buttons button {
  border: none;
  outline: none;
  padding: 15px 5px;
  background-color: var(--blue01);
  color: var(--white01);
  border-radius: 3px;
  width: 48%;
  cursor: pointer;
}

.single .input-group {
  margin-bottom: 40px;
}

.input-group span {
  color: crimson;
}

.single h2 {
  color: black;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 5px;
}

.single input {
  border: none;
  outline: none;
  padding: 15px 10px;
  background-color: var(--blue01);
  border-radius: 5px;
  color: white;
  width: 100%;
}

.single .buttons {
  display: grid;

  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}
.single .buttons button {
  border: none;
  outline: none;
  padding: 15px 5px;
  background-color: var(--blue01);
  color: var(--white01);
  border-radius: 3px;
  cursor: pointer;
}

.single .buttons > :nth-child(3) {
  width: 100%;
  grid-area: 2 / 1 / span 2 / span 2;
}

/* CONFIGS */

.configs-container {
  background-color: var(--white01);
  z-index: 2;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 200px;
  transform: translateX(-120vw);
  box-shadow: var(--shadow01);
  border-top: 5px solid var(--blue01);
  border-bottom: 5px solid var(--blue01);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configs-container .title {
  background-color: var(--blue01);
  box-shadow: var(--shadow01);
  padding: 5px 50px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -90%);
}

.configs {
  margin: 20px 10px;
  color: var(--black01);
  font: var(--font);
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.config-single {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.config-single h2 {
  font-family: var(--font);
  font-weight: normal;
  font-size: 1.2rem;
}

.config-single p {
  margin: 10px;
  font-family: monospace;
  color: var(--red01);
  max-width: 300px;
  text-align: justify;
  font-weight: bold;
}

.config-single input {
  background-color: var(--blue01);
  border: none;
  color: var(--white01);
  outline: none;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  font-family: var(--font);
  font-size: 1.2rem;
}

.config-single textarea {
  font-family: var(--font);
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: lighter;
  border: none;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: var(--blue01);
  color: var(--white01);
  outline: none;
  resize: none;
}

.delete-list {
  display: none;
}

.configs-container .buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
  width: 100%;
}

.configs-container .buttons button {
  font-family: var(--font);
  font-weight: normal;
  font-size: 1.2rem;
  background-color: var(--blue01);
  color: var(--white01);
  outline: none;
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.configs-container > .buttons > :nth-child(2) {
  background-color: var(--red01);
  color: var(--white01);
}

.show-delete {
  display: flex;
  flex-direction: column;
  color: white;
}

.delete-list {
  background-color: var(--red01);
  box-shadow: 2px 2px 2px rgba(0 0 0 20%);
  top: 160px;
  right: 0;
  position: absolute;
  padding: 10px 30px;
  border-radius: 5px;
  z-index: 1;
  width: 100%;
}

.show-delete p {
  text-align: center;
  margin: 10px;
  font-size: 1rem;
  font-family: var(--font);
  font-weight: normal;
  color: var(--white01);
}

.show-delete h2 {
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font);
  font-weight: bold;
  margin: 10px;
  color: var(--white01);
}

.show-delete input {
  margin: 10px auto;
  width: 100%;
  padding: 2px;
  border: none;
  outline: none;
  font-family: var(--font);
  color: var(--white01);
  border-bottom: 2px solid var(--white01);
  box-shadow: 2px 2px 2px rgba(0 0 0 20%);
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
.delete-list .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.delete-list .buttons button {
  margin: 10px;
  background-color: var(--white01);
  color: var(--black01);
}

/* INDIVIDAULWORDLIST */

.individaul-word-list {
  color: var(--white01);
  font-family: var(--font);
  font-size: 1.2rem;
  margin: 10px;
}

.individaul-word-list header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 20px 0;
  opacity: 0;
  margin-bottom: 10px;
}
.individaul-word-list header a {
  text-decoration: none;
  color: white;
}

.individaul-word-list .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  column-gap: 50px;
  margin: 20px;
}

.container .info {
  display: flex;
  flex-direction: column;
  opacity: 0;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .individaul-word-list .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .container .info {
    height: auto;
  }
}

@media (max-width: 1000px) {
  .container .info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.container .info p {
  font-size: 1rem;
  margin: 20px;
  font-weight: normal;
  font-family: monospace;
  opacity: 0.5;
}

.container .info button {
  border: none;
  background-color: var(--blue01);
  padding: 10px 20px;
  margin: 10px;
  color: white;
  font-family: var(--font);
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

.container .info .options {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container .words .words-info p {
  font-family: monospace;
  background-color: transparent;
  box-shadow: none;
  font-size: 1rem;
}

.container .info button:active {
  transform: scale(0.95);
}

.container .words {
  width: 100%;
  background-color: var(--backgroundContainer);
  border-radius: 5px;
  opacity: 0;
}

.container .words div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin: 20px;
}

.container .words textarea {
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.205);
  box-shadow: 2px 2px 2px rgba(0 0 0 / 10%);
  text-transform: capitalize;
  color: white;
  font-family: var(--font);
  font-weight: lighter;
  font-size: 1.2rem;
  resize: none;
}

.container .words .delete-button {
  background-color: var(--blue01);
  color: white;
  font-weight: normal;
  box-shadow: var(--shadow01);
}

.container .words button {
  position: absolute;
  border: none;
  background-color: var(--blue01);
  padding: 5px 10px;
  color: white;
  font-family: var(--font);
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--shadow01);
  transform: scale(0);
  transition: 0.6s;
  z-index: 2;
}

textarea::placeholder {
  color: white;
}

/* STUDYLIST */

.study-list {
  color: white;
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study-list header {
  margin: 50px;
  margin-bottom: 0;
}

.study-list header a {
  color: white;
  text-decoration: none;
}

.study-list .container,
.study-list .container-screen02 {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 80%;
  max-width: 1000px;

  border-radius: 5px;
  background-color: var(--backgroundContainer);
  box-shadow: var(--shadow01);
}

.study-list .container .word01 {
  margin: 50px;
}

.study-list .container .word02 {
  margin: 50px;
  margin-bottom: 100px;
  opacity: 0;
  text-transform: capitalize;
}

.study-list .form-answer {
  display: flex;
  flex-direction: column;
}

.study-list .form-answer input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px 0;
  border-bottom: 2px solid var(--white01);
  color: white;
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: capitalize;
  padding: 2px 10px;
  margin: 50px;
}

.study-list .form-answer .buttons {
  margin: 50px;
}

.study-list .form-answer .buttons button {
  font-family: var(--font);
  background-color: var(--white01);
  color: var(--black01);
  margin: 0 10px 10px 0;
  font-weight: normal;
  font-size: 1.2rem;
  outline: none;
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.study-list .container p {
  margin: 50px;
  opacity: 0.2;
}

.study-list .container-screen02 h2 {
  margin: 20px 50px;
}

.study-list .container button:nth-child(3) {
  width: fit-content;
  position: absolute;
  display: block;
  font-family: var(--font);
  background-color: var(--white01);
  color: var(--black01);
  margin: 50px;
  transform: translateY(200px);
  font-weight: normal;
  font-size: 1rem;
  outline: none;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* SCREEN02 */

.study-list .container-screen02 .container-words {
  margin: 20px 50px;
  border-radius: 5px;
}

.study-list .container-screen02 .arr-words {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  .study-list .container-screen02 .arr-words {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    margin-bottom: 10px;
  }
  .study-list .container-screen02 p {
    margin-bottom: 5px;
  }
}

.study-list .container-screen02 p {
  font-size: 1rem;
  background-color: rgba(0 0 0 / 20%);
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}

.study-list .container-screen02 .buttons {
  margin: 20px 50px;
}

.study-list .container-screen02 .buttons button {
  font-family: var(--font);
  background-color: var(--white01);
  color: var(--black01);
  margin: 0 10px 10px 0;
  font-weight: normal;
  font-size: 1rem;
  outline: none;
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

