:root {
  --backgrounColor01: rgb(19, 30, 44);
  --shadow: 0px 10px 5px rgb(0 0 0 / 21%);
  --azul01: rgb(31, 72, 99);
}

.word-list-header {
  background-color: var(--backgrounColor01);
  box-shadow: var(--shadow);
  user-select: none;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 5px 50px;
}

.word-list-header h1 {
  justify-self: center;
}

.word-list-header .menus a {
  margin: 0 10px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.word-list-header .home {
  justify-self: left;
}

.word-list-header .menus a:hover {
  color: rgb(182, 41, 41);
}

.forms-add-word {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 50px;
  margin: 50px;
}

@media (max-width: 1070px) {
  .forms-add-word {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.forms-add-word .several {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forms-add-word .buttons {
  margin: 20px 0;
}
.teste {
  white-space: pre-line;
}
.forms-add-word .several textarea {
  width: 500px;
  height: 200px;
  resize: none;

  background-color: transparent;
  border: 2px solid var(--azul01);
  box-shadow: 5px 5px 2px rgb(0 0 0 / 30%);
  padding: 10px;
  outline: none;
  color: white;
}

.forms-add-word .several h2 {
  margin-bottom: 10px;
  font-size: 1em;
}

.forms-add-word .single {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forms-add-word .single input {
  height: 50px;
  width: 400px;
  padding: 10px;
  box-shadow: 5px 5px 2px rgb(0 0 0 / 30%);
  outline: none;
  background-color: transparent;
  border: 2px solid var(--azul01);
  text-align: start;
  margin-bottom: 20px;
  color: white;
}
